Repository spf13/cobra, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs-generation, area/cobra-command, area/flags, area/github, area/shell-completion

Bump pflag to 1.0.8
  command.go
  go.mod
  go.sum
Labels: area/cobra-command

Bump pflag to 1.0.8 (#2303)
  command.go
  go.mod
  go.sum
Labels: area/cobra-command

Bump pflag to 1.0.8 (#2303)
  command.go
  go.mod
  go.sum
Labels: area/cobra-command

chore: Bump pflag to v1.0.9
  go.mod
  go.sum
Labels: none

chore: Bump pflag to v1.0.9 (#2305)
  go.mod
  go.sum
Labels: none

chore: Bump pflag to v1.0.9 (#2305)
  go.mod
  go.sum
Labels: none

Move away from archived `gopkg.in/yaml.v3`
  doc/yaml_docs.go
  go.mod
  go.sum
Labels: area/docs-generation

fuzz: add Go fuzz targets, CI workflow, and docs for OSS-Fuzz
  .github/workflows/fuzz.yml
  CONTRIBUTING.md
  README.md
  fuzz/cobra_fuzz_test.go
  site/content/fuzzing.md
Labels: area/github

add finalizers with command and error ref
  cobra.go
  command.go
  command_test.go
Labels: area/cobra-command

test context values
  command_test.go
Labels: area/cobra-command

reorganize tests
  command_test.go
Labels: area/cobra-command

fix linting error
  command_test.go
Labels: area/cobra-command

Update sponsorship image
  README.md
Labels: none

Add .DS_Store to .gitignore
  .gitignore
Labels: none

feat: Command.SetVersionFunc
  command.go
  command_test.go
Labels: area/cobra-command

Add documentation for repeated flags functionality
  site/content/user_guide.md
Labels: none

Update command.go
  command.go
Labels: area/cobra-command

Update command.go
  command.go
Labels: area/cobra-command

basic implementation for interactive command handling
  go.mod
  go.sum
  interactive.go
  interactive_exp_test.go
  interactive_test.go
Labels: none

add interactive tests
  interactive.go
  interactive_test.go
Labels: none

fix interactive tests
  interactive.go
  interactive_test.go
Labels: none

refactor: change minUsagePadding from var to const
  command.go
Labels: area/cobra-command

.github/labeler.yml:

# changes to documentation generation
"area/docs-generation": 
- changed-files:
  - any-glob-to-any-file: 'doc/**'

# changes to the core cobra command
"area/cobra-command":
- changed-files:
  - any-glob-to-any-file: ['./cobra.go', './cobra_test.go', './*command*.go']

# changes made to command flags/args
"area/flags":
- changed-files:
  - any-glob-to-any-file: './args*.go'

# changes to Github workflows
"area/github":
- changed-files:
  - any-glob-to-any-file: '.github/**'

# changes to shell completions
"area/shell-completion":
- changed-files:
  - any-glob-to-any-file: './*completions*'
