Repository spf13/cobra, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs-generation, area/cobra-command, area/flags, area/github, area/shell-completion

.github/labeler.yml:

# changes to documentation generation
"area/docs-generation": 
- changed-files:
  - any-glob-to-any-file: 'doc/**'

# changes to the core cobra command
"area/cobra-command":
- changed-files:
  - any-glob-to-any-file: ['./cobra.go', './cobra_test.go', './*command*.go']

# changes made to command flags/args
"area/flags":
- changed-files:
  - any-glob-to-any-file: './args*.go'

# changes to Github workflows
"area/github":
- changed-files:
  - any-glob-to-any-file: '.github/**'

# changes to shell completions
"area/shell-completion":
- changed-files:
  - any-glob-to-any-file: './*completions*'

Update command.go
  command.go
Labels: area/cobra-command

Update completions.go
  completions.go
Labels: area/shell-completion

Update completions.go
  completions.go
Labels: area/shell-completion

putting sponsorship below header
  README.md
Labels: none

putting sponsorship below header
  README.md
Labels: none

refactor: Split up findSuggestions function
  args.go
  command.go
Labels: area/cobra-command, area/flags

feat: Use error structs for errors returned in arg validation
  args.go
  errors.go
Labels: area/flags

feat: Use struct error for errors returned in flag validation
  command.go
  errors.go
  flag_groups.go
Labels: area/cobra-command

feat: Add getters to error structs
  command.go
  errors.go
  flag_groups.go
Labels: area/cobra-command

doc: Add user guide section on error structs
  site/content/user_guide.md
Labels: none

test: Add tests for error structs
  args_test.go
  command_test.go
  errors_test.go
  flag_groups_test.go
Labels: area/cobra-command, area/flags

feat: Add ClearInitializers and ClearFinalizers method
  cobra.go
Labels: area/cobra-command

feat: Add Finalize function to commands
  command.go
  command_test.go
Labels: area/cobra-command

fix: Call finalize of parent and child commands
  command.go
  command_test.go
Labels: area/cobra-command

go.mod,doc: replace YAML serializer
  doc/cmd_test.go
  doc/yaml_docs.go
  doc/yaml_docs_test.go
  go.mod
  go.sum
Labels: area/docs-generation

chore(golangci-lint): upgrade to v2
  .github/workflows/test.yml
  .golangci.yml
  command_test.go
  completions_test.go
Labels: area/cobra-command, area/github, area/shell-completion

chore(golangci-lint): add some exclusion presets
  .golangci.yml
Labels: none

refactor: apply golangci-lint autofixes, work around false positives
  completions.go
  completions_test.go
  doc/man_docs.go
  doc/md_docs.go
  doc/rest_docs.go
  doc/yaml_docs.go
Labels: area/docs-generation, area/shell-completion

refactor: apply golangci-lint autofixes, work around false positives
  completions.go
  completions_test.go
  doc/man_docs.go
  doc/md_docs.go
  doc/rest_docs.go
  doc/yaml_docs.go
Labels: area/docs-generation, area/shell-completion

refactor: apply golangci-lint autofixes, work around false positives
  completions.go
  completions_test.go
  doc/man_docs.go
  doc/md_docs.go
  doc/rest_docs.go
  doc/yaml_docs.go
Labels: area/docs-generation, area/shell-completion

chore(golangci-lint): upgrade to v2
  .github/workflows/test.yml
  .golangci.yml
  command_test.go
  completions_test.go
Labels: area/cobra-command, area/github, area/shell-completion

chore(golangci-lint): add some exclusion presets
  .golangci.yml
Labels: none

chore(golangci-lint): upgrade to v2
  .github/workflows/test.yml
  .golangci.yml
  command_test.go
  completions_test.go
Labels: area/cobra-command, area/github, area/shell-completion

chore(golangci-lint): add some exclusion presets
  .golangci.yml
Labels: none

The default ShellCompDirective can be customized for a command and its subcommands (#2238)
  completions.go
  completions_test.go
  site/content/completions/_index.md
Labels: area/shell-completion

The default ShellCompDirective can be customized for a command and its subcommands (#2238)
  completions.go
  completions_test.go
  site/content/completions/_index.md
Labels: area/shell-completion

chore: add reuse toml
  REUSE.toml
Labels: none

fix: quote args in fish shell completion
  fish_completions.go
Labels: area/shell-completion

Make GetCompletions public.
  completions.go
Labels: area/shell-completion

Add two more projects using cobra
  site/content/projects_using_cobra.md
Labels: none

Elimination of duplication through common logic
  flag_groups.go
Labels: none

Add IsFlagRequired and IsPersistentFlagRequired
  command.go
  command_test.go
Labels: area/cobra-command

command: move required flag check before PreRun(E)
  command.go
  command_test.go
Labels: area/cobra-command

refactor: return struct from getFlagGroupStatuses for clarity and extensibility
  flag_groups.go
Labels: none

Eliminating redundancies
  flag_groups.go
Labels: none

Add Periscope to the list of projects using Cobra
  site/content/projects_using_cobra.md
Labels: none

Add Periscope to the list of projects using Cobra (#2299)
  site/content/projects_using_cobra.md
Labels: none

Add Periscope to the list of projects using Cobra (#2299)
  site/content/projects_using_cobra.md
Labels: none

Update README.md with new logo
  README.md
Labels: none

Update README.md with new logo
  README.md
Labels: none
