Repository spf13/cobra, pull requests merged in 2019-12, with the labels that each got.

#1004 Revert change so help is printed on stdout again
  command.go
Labels: kind/bug

#980 Apply formatting to templates
  cobra/cmd/testdata/main.go.golden
  cobra/cmd/testdata/root.go.golden
  cobra/tpl/main.go
Labels: kind/enhancement

#1001 Fix regression when calling *_custom_func
  bash_completions.go
Labels: area/*sh completion, kind/bug
