Repository spf13/cobra, pull requests merged in 2020-05, with the labels that each got.

#1088 Make bash completion provide sub-command names even if ValidArgs present
  bash_completions.go
Labels: kind/enhancement

#1097 replace labeler action with periodic-labeler
  .github/workflows/label.yml
  .github/workflows/periodic-labeler.yml
Labels: kind/bug

#1095 Ignore required flags when DisableFlagParsing is true
  command.go
  command_test.go
Labels: kind/enhancement

#1112 disable periodic labeler
  .github/labeler.yml
  .github/workflows/periodic-labeler.yml
Labels: kind/bug

#1113 Update projects_using_cobra.md
  projects_using_cobra.md
Labels: area/documentation
