Repository spf13/cobra, pull requests merged in 2020-04, with the labels that each got.

#1053 Replace deprecated SetOutput func with SetOut and SetErr in test
  cobra/cmd/golden_test.go
  command_test.go
Labels: area/lib, kind/enhancement

#1073 Remove Circle CI badge from readme
  README.md
Labels: area/documentation

#1074 Add Labeler Actions
  .github/labeler.yml
  .github/workflows/label.yml
Labels: kind/enhancement

#1075 add support for autolabel stale PR
  .github/workflows/stale.yml
Labels: kind/enhancement

#1035 Custom completions coded in Go (instead of Bash)
  bash_completions.go
  bash_completions.md
  command.go
  custom_completions.go
  custom_completions_test.go
Labels: area/*sh completion, kind/enhancement

#1082 API (urgent): Rename BashCompDirectives to ShellCompDirectives
  bash_completions.go
  bash_completions.md
  command.go
  custom_completions.go
  custom_completions_test.go
Labels: area/*sh completion

#1034 Add Github CLI to list of projects using Cobra
  README.md
Labels: area/documentation

#1078 Remove/replace SetOutput on Command - deprecated
  command_test.go
Labels: kind/enhancement

#1048 Fish completion (including support for Go custom completion)
  args.go
  bash_completions.go
  bash_completions.md
  custom_completions.go
  custom_completions_test.go
  fish_completions.go
  fish_completions.md
Labels: area/*sh completion, kind/enhancement

#1090 Move projects using Cobra
  README.md
  projects_using_cobra.md
Labels: area/documentation

#1108 Fix cobra init cmd help documentation
  cobra/cmd/init.go
  cobra/cmd/init_test.go
Labels: area/documentation, kind/enhancement

#1104 Man pages won't have auto gen tag when option is disabled
  CHANGELOG.md
  README.md
  doc/README.md
  doc/man_docs.go
  doc/man_docs_test.go
Labels: kind/enhancement
