Repository spf13/cobra, pull requests merged in 2020-06, with the labels that each got.

#1037 YAML documentation contains "Usage"
  doc/yaml_docs.go
  doc/yaml_docs_test.go
Labels: kind/stale

#1136 Add completion for help command
  bash_completions.go
  command.go
  custom_completions.go
  custom_completions_test.go
Labels: area/*sh completion

#1070 Zsh completion V2
  README.md
  bash_completions.go
  bash_completions.md
  custom_completions.go
  custom_completions_test.go
  fish_completions.go
  fish_completions.md
  powershell_completions.md
  shell_completions.go
  shell_completions.md
  zsh_completions.go
  zsh_completions.md
  zsh_completions_test.go
Labels: area/*sh completion, kind/enhancement
