Repository spf13/cobra, pull requests merged in 2021-12, with the labels that each got.

#896 enable composing PositionalArgs
  args.go
  args_test.go
  user_guide.md
Labels: kind/stale

#1427 github: add dependabot configuration file
  .github/dependabot.yml
Labels: area/github

#1321 fix: unbound variables in bash completion
  bash_completions.go
Labels: kind/stale

#1372 Update shell_completions.md to have automatically rootcmd
  shell_completions.md
Labels: kind/stale

#1444 fix: improve completions help formatting
  completions.go
Labels: kind/stale

#1455 Completion: Capitalize short desc and remove extra space from long
  completions.go
  completions_test.go
Labels: kind/stale

#1459 fix: typo in {bash,zsh}_completions.go
  bash_completions.go
  zsh_completions.go
Labels: kind/stale

#1510 Fix invalid shell completion when used with ~/.cobra.yaml
  cobra/cmd/root.go
Labels: area/cli

#1463 fix: Duplicate error message from cobra init boilerplates
  cobra/tpl/main.go
Labels: area/cli

#1477 chore(ci): use golangci-lint-action
  .github/workflows/test.yml
  Makefile
Labels: kind/stale, area/github

#1552 fix root.go.golden
  cobra/cmd/testdata/root.go.golden
Labels: area/cli

#1557 Bug fix: includes `os` package import in root command generation
  cobra/tpl/main.go
Labels: area/cli
