Repository spf13/cobra, pull requests merged in 2021-06, with the labels that each got.

#1282 fix home directory config not loading
  README.md
  cobra/cmd/root.go
  cobra/cmd/testdata/root.go.golden
  cobra/tpl/main.go
Labels: area/cli, kind/enhancement

#1337 drop mitchellh/go-homedir (#853)
  cobra/cmd/root.go
  cobra/cmd/testdata/root.go.golden
  cobra/tpl/main.go
  go.mod
  go.sum
  user_guide.md
Labels: area/cli, kind/enhancement, kind/stale

#1146 Bash completion V2 with completion descriptions
  bash_completions.md
  bash_completionsV2.go
  command.go
  completions.go
  completions_test.go
  shell_completions.md
Labels: kind/enhancement, kind/stale
