Repository spf13/cobra, pull requests merged in 2021-05, with the labels that each got.

#1366 ci/MSYS2: go install @latest
  .github/workflows/Test.yml
Labels: area/github

#1284 Fix fish completion for programs that output trailing empty lines
  fish_completions.go
Labels: kind/stale

#1213 Fix zsh completion handling of nospace and file completion
  completions.go
  zsh_completions.go
Labels: kind/stale

#1249 Fix multiple fish completion issues
  fish_completions.go
Labels: kind/stale

#1349 Correcting misspelled words
  cobra/cmd/init_test.go
  completions.go
  powershell_completions.go
Labels: area/cli, kind/bug, kind/stale
