Repository spf13/cobra, pull requests merged in 2021-11, with the labels that each got.

#1009 Small correction in README
  user_guide.md
Labels: area/documentation, kind/stale

#880 Remove "Lesser" from header for GPL-2.0 template
  cobra/cmd/license_gpl_2.go
Labels: kind/stale

#1159 Allow specifying licenses using their SPDX identifier
  cobra/cmd/license_agpl.go
  cobra/cmd/license_apache_2.go
  cobra/cmd/license_bsd_clause_2.go
  cobra/cmd/license_bsd_clause_3.go
  cobra/cmd/license_gpl_2.go
  cobra/cmd/license_gpl_3.go
  cobra/cmd/license_lgpl.go
  cobra/cmd/license_mit.go
Labels: kind/stale

#949 fix(diff): use arg '--strip-trailing-cr'
  cobra/cmd/golden_test.go
Labels: kind/stale, area/cli

#1426 args_test: add helper functions
  args_test.go
Labels: kind/stale
