Repository spf13/cobra, pull requests merged in 2022-03, with the labels that each got.

#1613 Updates GitHub actions labeler for new labels
  .github/labeler.yml
Labels: lgtm, area/github

#1604 Removes `viper` dependency by removing `cobra/` CLI tool
  .github/workflows/test.yml
  Makefile
  README.md
  cobra/Makefile
  cobra/README.md
  cobra/cmd/add.go
  cobra/cmd/add_test.go
  cobra/cmd/golden_test.go
  cobra/cmd/helpers.go
  cobra/cmd/helpers_test.go
  cobra/cmd/init.go
  cobra/cmd/init_test.go
  cobra/cmd/license_agpl.go
  cobra/cmd/license_apache_2.go
  cobra/cmd/license_bsd_clause_2.go
  cobra/cmd/license_bsd_clause_3.go
  cobra/cmd/license_gpl_2.go
  cobra/cmd/license_gpl_3.go
  cobra/cmd/license_lgpl.go
  cobra/cmd/license_mit.go
  cobra/cmd/licenses.go
  cobra/cmd/project.go
  cobra/cmd/project_test.go
  cobra/cmd/root.go
  cobra/cmd/testdata/LICENSE.golden
  cobra/cmd/testdata/main.go.golden
  cobra/cmd/testdata/root.go.golden
  cobra/cmd/testdata/test.go.golden
  cobra/main.go
  cobra/tpl/main.go
  go.mod
  go.sum
  shell_completions.md
  user_guide.md
Labels: kind/documentation, area/cli [deprecated], admin, kind/cleanup, kind/deprecation, lifecycle/active, lgtm, area/github

#1625 fix some typos
  completions.go
Labels: kind/cleanup, lgtm

#1634 Remove CHANGELOG.md as it isn't updated
  CHANGELOG.md
Labels: kind/documentation, admin, lgtm

#1635 ci: test on Golang 1.18
  .github/workflows/test.yml
Labels: kind/upstream, lgtm, area/github

#1608 feat: Add how to load completions in your current zsh session
  completions.go
Labels: area/shell-completion, kind/documentation, lgtm

#1547 Add backwards-compatibility tests for legacyArgs()
  args_test.go
Labels: kind/testing, lgtm

#1574 Introduce FixedCompletions
  completions.go
  completions_test.go
Labels: kind/feature, area/shell-completion, lgtm

#1551 Add Command.SetContext
  command.go
  command_test.go
Labels: kind/feature, area/cobra-command, lgtm

#1639 Fix Command.Context comment
  command.go
Labels: area/cobra-command, lgtm

#1642 Add Kubescape to projects
  projects_using_cobra.md
Labels: kind/documentation, lgtm

#1645 Changed branch name in the cobra generator link to 'main'
  README.md
  user_guide.md
Labels: kind/documentation, lifecycle/active, lgtm

#1647 ci/test: RICHGO_FORCE_COLOR
  .github/workflows/test.yml
Labels: kind/testing, size/XS, size/S, lgtm, area/github, github_actions
