Repository spf13/cobra, pull requests merged in 2022-05, with the labels that each got.

#1683 perf(bash-v2): standard completion optimizations
  bash_completionsV2.go
Labels: area/shell-completion, size/L

#1684 style(bash): out is not an array variable, do not refer to it as such
  bash_completions.go
Labels: area/shell-completion, size/XS

#1686 perf(bash-v2): short-circuit descriptionless candidate lists
  bash_completionsV2.go
Labels: area/shell-completion, size/XS

#1689 perf(bash-v2): speed up filtering entries with descriptions
  bash_completionsV2.go
Labels: area/shell-completion, size/XS

#1692 perf(bash-v2): speed up filtering menu-complete descriptions
  bash_completionsV2.go
Labels: area/shell-completion, size/XS

#1530 Prefer ReplaceAll instead of Replace(..., -1)
  bash_completions.go
  doc/man_docs.go
  doc/man_docs_test.go
  doc/md_docs.go
  doc/rest_docs.go
  doc/yaml_docs.go
  fish_completions.go
Labels: area/docs-generation, area/go, kind/cleanup, size/M, lgtm

#1691 fix(bash-v2): skip empty completions when filtering descriptions
  bash_completionsV2.go
Labels: kind/bug, area/shell-completion, size/XS

#1695 Change links from http:// to https://
  README.md
  doc/md_docs.md
  doc/rest_docs.md
  doc/yaml_docs.md
  projects_using_cobra.md
  user_guide.md
Labels: area/docs-generation, size/M, lgtm

#1700 perf(bash-v2): read directly to COMPREPLY on descriptionless short circuit
  bash_completionsV2.go
Labels: area/shell-completion, size/XS
