Repository spf13/cobra, pull requests merged in 2022-10, with the labels that each got.

#1819 Add allero to list of projects using cobra
  projects_using_cobra.md
Labels: admin, size/XS, lgtm

#1788 Add OnFinalize method
  cobra.go
  command.go
Labels: kind/feature, area/cobra-command, size/S, lgtm

#1792 ci: add minimum GitHub token permissions for workflows
  .github/workflows/labeler.yml
  .github/workflows/size-labeler.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
Labels: size/S, lgtm, area/github

#1621 Allow user to add completion for powershell alias
  powershell_completions.go
  shell_completions.md
Labels: kind/feature, size/M, lgtm, help-wanted

#1813 Include --help and --version flag in completion
  command.go
  completions.go
  completions_test.go
Labels: kind/bug, size/XL

#1003 Add groups for commands in help
  README.md
  command.go
  command_test.go
  completions.go
  user_guide.md
Labels: kind/feature, area/cobra-command, lgtm

#1467 feat: make InitDefaultCompletionCmd public
  command.go
  completions.go
  doc/README.md
Labels: area/docs-generation, size/XS

#1841 🍒 Cherry-pick `v1.6.x` - Check for group presence after full initialization (#1839)
  command.go
  command_test.go
  user_guide.md
Labels: lgtm
