Repository spf13/cobra, pull requests merged in 2022-11, with the labels that each got.

#1781 fix: don't remove flag value that matches subcommand name
  command.go
  command_test.go
Labels: kind/bug, area/flags-args, size/L, lgtm

#1854 Create unit test illustrating unknown flag bug
  command_test.go
Labels: area/flags-args, kind/testing

#1863 Update stale.yml
  .github/workflows/stale.yml
Labels: area/github

#1850 Force ForEach-Object to return array in pwsh completion
  powershell_completions.go
Labels: kind/bug, area/shell-completion

#1865 Makefile: add target richtest
  .github/workflows/test.yml
  Makefile
Labels: area/github
