Repository spf13/cobra, pull requests merged in 2022-08, with the labels that each got.

#1772 docs: add zitadel to the list
  projects_using_cobra.md
Labels: kind/documentation, size/XS

#1771 fix: correct command path in see_also for YAML doc
  doc/yaml_docs.go
  doc/yaml_docs_test.go
Labels: area/docs-generation, size/XS

#1762 fix(bash-v2): activeHelp length check syntax
  bash_completionsV2.go
Labels: size/XS

#1766 Update gopkg.in/yaml.v2 to gopkg.in/yaml.v3
  doc/yaml_docs.go
  go.mod
  go.sum
Labels: area/docs-generation, size/XS

#1776 fix: show flags that shadow parent persistent flag in child help
  command.go
  command_test.go
Labels: kind/bug, area/flags-args, size/M

#1782 ci: test on Golang 1.19
  .github/workflows/test.yml
Labels: size/XS, area/github

#1748 Clarify SetContext documentation
  command.go
Labels: size/XS

#1726 With go 1.18, we must use go install for a binary
  Makefile
Labels: area/go, kind/testing
