Repository spf13/cobra, pull requests merged in 2022-09, with the labels that each got.

#1800 Use correct stale action `exempt-*` yaml keys
  .github/workflows/stale.yml
Labels: size/XS, lgtm, area/github

#1643 deprecate ExactValidArgs and test combinations of args validators
  args.go
  args_test.go
  user_guide.md
Labels: kind/feature, area/flags-args, size/XL, lgtm

#1802 Support for case-insensitive command names
  cobra.go
  command.go
  command_test.go
Labels: kind/feature, area/cobra-command, size/L

#1803 Rename Powershell completion tests
  powershell_completions_test.go
Labels: kind/cleanup, lgtm

#1656 Adjustments to documentation
  README.md
  user_guide.md
Labels: kind/documentation, lifecycle/frozen, size/M

#1783 ci: use action/setup-go's cache
  .github/workflows/test.yml
Labels: size/S, lgtm, area/github

#1809 add missing license headers
  .github/workflows/test.yml
  .golangci.yml
  active_help.go
  active_help_test.go
  args.go
  args_test.go
  bash_completions.go
  bash_completionsV2.go
  bash_completionsV2_test.go
  bash_completions_test.go
  cobra.go
  cobra_test.go
  command.go
  command_notwin.go
  command_test.go
  command_win.go
  completions.go
  completions_test.go
  doc/cmd_test.go
  doc/man_docs.go
  doc/man_docs_test.go
  doc/man_examples_test.go
  doc/md_docs.go
  doc/md_docs_test.go
  doc/rest_docs.go
  doc/rest_docs_test.go
  doc/util.go
  doc/yaml_docs.go
  doc/yaml_docs_test.go
  fish_completions.go
  fish_completions_test.go
  flag_groups.go
  flag_groups_test.go
  powershell_completions.go
  powershell_completions_test.go
  shell_completions.go
  zsh_completions.go
  zsh_completions_test.go
Labels: admin, kind/cleanup, size/XL, lgtm, github_actions

#1387 ci: add workflow_dispatch
  .github/workflows/test.yml
Labels: admin, size/XS, lgtm, area/github

#1779 Document option to hide the default completion cmd
  shell_completions.md
Labels: kind/documentation, size/XS

#1760 expose ValidateRequiredFlags and ValidateFlagGroups
  command.go
  flag_groups.go
Labels: area/flags-args, size/S

#1707 Fix minor annoyance of missing '--version' flag from some Help output
  command.go
  command_test.go
Labels: kind/bug, area/flags-args, size/M, lgtm
