Repository spf13/cobra, pull requests merged in 2022-04, with the labels that each got.

#1609 Update stale-bot
  .github/workflows/stale.yml
Labels: admin, kind/testing, kind/upstream, kind/cleanup, lifecycle/active, lifecycle/frozen, lgtm, area/github

#1665 Wrap printf tab with quotes
  zsh_completions.go
Labels: size/XS

#1654 Add ability to mark flags as required or exclusive as a group
  command.go
  flag_groups.go
  flag_groups_test.go
  go.sum
  user_guide.md
Labels: kind/feature, area/flags-args, size/XL, lgtm

#1672 Add Polygon Edge as a project using Cobra
  projects_using_cobra.md
Labels: kind/documentation, size/XS

#1678 Minor typo fix in shell_completion.md
  shell_completions.md
Labels: kind/documentation, size/XS

#1682 perf(bash-v2): use backslash escape string expansion for tab
  bash_completionsV2.go
Labels: area/shell-completion, size/XS

#1681 style(bash-v2): out is not an array variable, do not refer to it as such
  bash_completionsV2.go
Labels: size/S
