Repository spf13/cobra, pull requests merged in 2022-06, with the labels that each got.

#1690 fix: Don't complete _command on zsh
  zsh_completions.go
Labels: kind/bug, area/shell-completion, size/XS

#1719 Modify brew prefix path in macOS system
  completions.go
  shell_completions.md
Labels: area/shell-completion, kind/documentation, size/XS

#1482 Add Active Help support
  active_help.go
  active_help.md
  active_help_test.go
  bash_completions.go
  bash_completionsV2.go
  bash_completionsV2_test.go
  bash_completions_test.go
  completions.go
  fish_completions.go
  fish_completions_test.go
  power_completions_test.go
  powershell_completions.go
  user_guide.md
  zsh_completions.go
  zsh_completions_test.go
Labels: kind/feature, lifecycle/active, size/XL

#1515 Improve fish_completions code quality
  fish_completions_test.go
Labels: area/shell-completion, kind/testing, size/M, lgtm

#1735 Fix handling of descriptions for bash v3
  bash_completionsV2.go
Labels: kind/bug, area/shell-completion, size/XS

#1612 undefined or nil Args default to ArbitraryArgs
  command.go
  user_guide.md
Labels: area/flags-args, size/XS, lgtm

#1659 Add shell completion to flag groups
  completions.go
  completions_test.go
  flag_groups.go
Labels: area/flags-args, size/XL

#1741 Add KubeVirt as a project using cobra
  projects_using_cobra.md
Labels: size/XS

#1742 doc: Add CloudQuery for projects using Cobra
  projects_using_cobra.md
Labels: size/XS

#1745 Add Cilium to projects using Cobra
  projects_using_cobra.md
Labels: size/XS
