Repository spf13/cobra, pull requests merged in 2023-10, with the labels that each got.

#2044 Feature: allow running persistent run hooks of all parents
  cobra.go
  command.go
  command_test.go
  site/content/user_guide.md
Labels: kind/feature, lgtm

#2052 Fix linter errors
  command.go
  doc/md_docs.go
Labels: area/docs-generation, kind/rel-eng, lgtm

#2061 Don't complete --help flag when flag parsing disabled
  completions.go
  completions_test.go
Labels: lifecycle/active, lgtm

#2053 Add tests for flag completion registration
  completions_test.go
Labels: kind/testing, lgtm
