Repository spf13/cobra, pull requests merged in 2023-03, with the labels that each got.

#1926 ci: deprecate go 1.16
  .github/workflows/test.yml
Labels: area/github

#1925 ci: test Golang 1.20
  .github/workflows/test.yml
Labels: area/github

#1927 update copyright year
  .github/workflows/test.yml
  .golangci.yml
  active_help.go
  active_help_test.go
  args.go
  args_test.go
  bash_completions.go
  bash_completionsV2.go
  bash_completionsV2_test.go
  bash_completions_test.go
  cobra.go
  cobra_test.go
  command.go
  command_notwin.go
  command_test.go
  command_win.go
  completions.go
  completions_test.go
  doc/cmd_test.go
  doc/man_docs.go
  doc/man_docs_test.go
  doc/man_examples_test.go
  doc/md_docs.go
  doc/md_docs_test.go
  doc/rest_docs.go
  doc/rest_docs_test.go
  doc/util.go
  doc/yaml_docs.go
  doc/yaml_docs_test.go
  fish_completions.go
  fish_completions_test.go
  flag_groups.go
  flag_groups_test.go
  powershell_completions.go
  powershell_completions_test.go
  shell_completions.go
  zsh_completions.go
  zsh_completions_test.go
Labels: area/docs-generation, area/github

#1917 Allow sourcing zsh completion script
  completions.go
  zsh_completions.go
Labels: kind/feature, area/shell-completion
