Repository spf13/cobra, pull requests merged in 2023-02, with the labels that each got.

#1904 Improve MarkFlagsMutuallyExclusive example in User Guide
  user_guide.md
Labels: kind/documentation

#1907 Update shell_completions.md
  shell_completions.md
Labels: area/shell-completion, kind/documentation

#1908 Removes stale bot from GitHub action
  .github/workflows/stale.yml
Labels: lifecycle/approved, area/github

#1903 added keep order to bash, zsh, pwsh & fish
  bash_completionsV2.go
  completions.go
  fish_completions.go
  powershell_completions.go
  shell_completions.md
  zsh_completions.go
Labels: kind/feature, area/shell-completion

#1916 Add support for PowerShell 7.2+
  powershell_completions.go
Labels: kind/bug, area/shell-completion
