Repository spf13/cobra, pull requests merged in 2024-03, with the labels that each got.

#2113 ci: test golang 1.22
  .github/workflows/test.yml
Labels: kind/testing, lgtm, area/github

#2122 chore: remove repetitive words
  doc/md_docs.go
  doc/rest_docs.go
Labels: area/docs-generation, kind/cleanup, lgtm

#2120 fix: remove deprecated io/ioutils package
  command_test.go
Labels: kind/testing, lgtm
